<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="api.js" verb="*" modules="iisnode" />
    </handlers>
    <!--     
        http://server/oee/api/ (post/get)        
    -->
    <rewrite>
      <rules>
        <rule name="api">
          <match url="api/*" />
          <action type="Rewrite" url="api.js" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors errorMode="Detailed" existingResponse="Auto" /> 

  </system.webServer>
</configuration>
