<configuration>  
	<system.webServer>
		<handlers>
			<add name="iisnode" path="api.js" verb="*" modules="iisnode" />
		</handlers>
		<!--     
		http://server/oee/api/ (post/get)        
		-->
		<rewrite>
			<rules>
				<rule name="api">
					<match url="api/*" />
					<action type="Rewrite" url="api.js" />
				</rule>
			</rules>
		</rewrite>

		<httpErrors errorMode="Detailed" existingResponse="Auto" /> 
	</system.webServer>
	<appSettings>
		<add key="SQL_USER" value="uoee" />
		<add key="SQL_PASSWORD" value="!2o0e1e7#" />
		<add key="SQL_DATABASE" value="oee" />
		<add key="BASE_URL" value="/oee/api/" />
		<add key="JWt_SECRET" value="0S1t2a3r4t5M6e7U8p9!" />
	</appSettings> 
</configuration>
